
.wp-block-cinemarathon-marathons {

	&.mode-list {

		.marathon {
			display: list-item;
		}
	}

	&.mode-grid {
		display: grid;
		grid-gap: 10px;

		.marathon {
			aspect-ratio: 16 / 9;
			background-image: var(--marathon-featured-image);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;

			a {
				align-items: flex-start;
				color: #fff;
				display: flex;
				flex-direction: column;
				font-weight: 500;
				gap: 8px;
				justify-content: flex-end;
				inset: 0;
				line-height: 1;
				padding: 10%;
				position: absolute;
				text-decoration: none;

				&::before {
					transition: all .3s ease-out;
					background-image: linear-gradient( transparent, rgba( 0, 0, 0, .25 ), rgba( 0, 0, 0, .5 ) );
					background-position: 100% 0%;
					background-size: 100% 200%;
					content: '';
					position: absolute;
					inset: 0;
				}

				.title {
					position: relative;
					z-index: 1;
				}

				&:hover {
					opacity: 1;

					&::before {
						transition: all .15s ease-out;
						background-position: 100% 100%;
					}
				}
			}
		}

		@for $i from 1 to 4 {
			&[data-grid-columns="$i"] {
				grid-template-columns: repeat($i, 1fr);
				.marathon {
					a {
						font-size: calc( 180% - calc( $i * .125em ) );
					}
				}
			}
		}
	}
}

@media screen and (max-width:960px) {
	.wp-block-cinemarathon-marathons {
		&.mode-grid {
			&[data-grid-columns] {
				grid-template-columns: repeat(2, 1fr) !important;
			}
		}
	}
}

@media screen and (max-width:768px) {
	.wp-block-cinemarathon-marathons {
		&.mode-grid {
			&[data-grid-columns] {
				grid-template-columns: repeat(1, 1fr) !important;
			}
		}
	}
}
