
.cinemarathon-marathon-block-inspector {
	
	.media-uploader {
		
		img {
			aspect-ratio: 2;
			object-fit: cover;
			width: 100%;
		}

		& > button {
			background-color: #f0f0f0;
			border-radius: 2px;
			display: block;
			line-height: 20px;
			min-height: 90px;
			padding: 8px 0;
			text-align: center;
			width: 100%;

			&:hover {
				background: #ddd;
				color: #1e1e1e;
			}
		}
	}
}

.wp-block-cinemarathon-marathon {

	table {
		
		.check-column {
			padding: 8px 10px;
			text-align: center;
			vertical-align: middle;
			width: 20px;
			
			.components-checkbox-control__input-container {
				margin: 0;
			}
		}

		td {
			vertical-align: middle;
		}

		tbody {
			
			tr {
				position: relative;

				td .components-base-control__field {
					margin: 0;

					.components-base-control__field {
						margin: 0;
					}
				}
			}
		}

		.column-actions {
			position: static;

			button {
				align-items: center;
				display: flex;
				justify-content: center;
				margin: 0;
				padding: 0;
				width: 24px;
			}

			& > button {
				position: relative;
				z-index: 10;
			}

			.actions {
				align-items: center;
				background-color: rgba( 255, 255, 255, .85 );
				bottom: 0;
				display: none;
				gap: 4px;
				justify-content: flex-end;
				left: 0;
				padding-right: 40px;
				position: absolute;
				right: 0;
				top: 0;
			}

			&.show-actions .actions {
				display: flex;
			}
		}
	}
}
