
.cinemarathon-marathon-block-inspector {
	
	.marathon-featured-image {
		position: relative;
		
		img {
			/*aspect-ratio: 2;*/
			object-fit: cover;
			width: 100%;
		}

		& > button {
			align-items: center;
			background-color: #f0f0f0;
			border-radius: 2px;
			display: flex;
			height: 100%;
			justify-content: center;
			line-height: 20px;
			padding: 0;
			text-align: center;
			width: 100%;

			&:hover {
				background: #ddd;
				color: #1e1e1e;
			}

			.marathon-featured-image__text {
				align-items: center;
				display: flex;
				height: 6rem;
			}
		}

		.marathon-featured-image__actions {
			bottom: 0;
			left: 0;
			opacity: 0;
			padding: .625rem;
			position: absolute;
			right: 0;
			transition: opacity 50ms ease-out;

			.marathon-featured-image__button {
				align-items: center;
				backdrop-filter: blur(1rem) saturate(180%);
				background-color: rgba( 255, 255, 255, .75 );
				border: 0;
				box-shadow: 0 0 0;
				display: flex;
				justify-content: center;
				width: 100%;

				&:not(:hover) {
					color: var(--wp-components-color-foreground, #1e1e1e);
				}
			}
		}

		&:hover {

			.marathon-featured-image__actions {
				opacity: 1;
			}
		}
	}
}

.wp-block-cinemarathon-marathon {

	.editor {
		border: 1px solid #c3c4c7;
  		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		width: 100%;

		.editor-header {
			align-items: center;
			border-bottom: 1px solid #c3c4c7;
			display: flex;
			height: 2.25rem;
			padding-left: 2rem;

			.header-column {
				align-items: center;
				display: flex;
				flex-shrink: 0;
				justify-content: start;
				padding: 0 .625rem;

				&.check-column {
					justify-content: center;
					padding: 0;
					width: 2rem;
				}

				&.column-bonus {

					svg {
						height: 1rem;
						width: 1rem;
					}
				}

				&.column-title {
					flex-shrink: 1;
					padding: 0 .75rem;
					width: 100%;
				}

				&.column-editing-mode {
					margin-left: auto;

					.components-flex.components-h-stack {
						flex-direction: row-reverse;
					}

					.components-toggle-control {
						font-size: 12px;
						margin: 0;

						.components-form-toggle {
							align-items: center;
							display: flex;

							.components-form-toggle__track {
								height: 14px;
								width: 24px;
							}
	
							.components-form-toggle__thumb {
								height: 8px;
								top: 2px;
								width: 8px;
							}

							&.is-checked {
								.components-form-toggle__track {
									border-width: 6px;
								}

								.components-form-toggle__thumb {
									top: 3px;
									transform: translateX(10px);
								}
							}
						}

						label {
							margin-top: -2px;
						}
					}
				}
			}
		}

		.editor-content {

			.list-item {
				align-items: center;
				display: flex;
				height: 3rem;
				position: relative;

				&.dragging {
					background-color: #fff !important;
					box-shadow: 0 1px 3px rgba( 0, 0, 0, .75 );
					z-index: 1;
				}

				.list-item-column {
					align-items: center;
					display: flex;
					flex-shrink: 0;
					height: 100%;
					justify-content: start;
					padding: 0 .625rem;

					.components-base-control__field {
						margin: 0;

						.components-checkbox-control__input-container {
							margin: 0;

							input {
								margin: 0;
							}
						}
					}

					&.column-title,
					&.column-title .components-base-control,
					&.column-title .components-base-control .components-base-control__field,
					&.column-title .components-base-control .components-base-control__field .components-text-control__input {
						width: 100%;
					}

					&.column-title {
						flex-shrink: 1;
					}

					&.check-column,
					&.draghandle-column {
						justify-content: center;
						padding: 0;
						width: 2rem;
					}

					&.draghandle-column {

						button {
							align-items: center;
							cursor: move;
							display: flex;
							height: 2rem;
							justify-content: center;
							padding: 0;
							width: 2rem;

							svg {
								margin-top: 1px;
							}
						}
					}

					&.column-actions {
						position: static;

						button {
							align-items: center;
							display: flex;
							justify-content: center;
							margin: 0;
							min-width: auto;
							padding: 0;
							width: 1.5rem;

							svg {
								height: 1.25rem;
							}
						}

						& > button {
							position: relative;
							z-index: 10;
						}

						.actions {
							align-items: center;
							background-color: rgba( 255, 255, 255, .85 );
							bottom: 0;
							display: none;
							gap: 4px;
							justify-content: flex-end;
							left: 0;
							padding-right: 40px;
							position: absolute;
							right: 0;
							top: 0;
						}

						&.show-actions .actions {
							display: flex;
						}
					}
				}
			}

			.list-item:nth-child(odd),
			.placeholder {
				align-items: center;
				background-color: #f6f7f7;
				display: flex;
			}

			.placeholder {
				height: 2.25rem;
				padding: 0 .625rem;

				button {
					margin-left: .25rem;
					padding: 0;
				}
			}

			.batch-editor {
				border-top: 1px solid #c3c4c7;
				padding: .625rem;

				textarea {
					line-height: 1.375rem;
				}

				.actions {
					align-items: center;
					display: flex;

					.components-text {
						opacity: .75;
					}

					button {
						margin-left: auto;
					}
				}
			}
		}

		.editor-footer {
			align-items: center;
			border-top: 1px solid #c3c4c7;
			display: flex;
			height: 2rem;

			.footer-content {
				align-items: center;
				display: flex;
				padding: 0 .625rem;
			}

			.footer-actions {
				align-items: center;
				display: flex;
				margin-left: auto;

				button {
					align-items: center;
					display: flex;
					height: 2rem;
					justify-content: center;
					margin: 0;
					padding: 0;
					width: 2rem;

					&.batch-add {

						svg {
							height: 1rem;
							width: 1rem;
						}
					}
				}
			}
		}
	}
}
